<li class="chat-item">
  <img class="chat-item--image" src="{{image}}" />
  <div class="chat-item--info-wrapper">
    <h3 class="name">{{name}}</h3>
    <p class="text">{{text}}</p>
  </div>
  <div class="chat-item--data-wrapper">
    <span class="time">{{date}}</span>
    <span class="count">{{count}}</span>
  </div>
</li>

<!-- <li class='chat-item'>
  <img
    class='chat-item--image'
    src='https://images.unsplash.com/profile-1589352637695-cd91ccd020f0image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff'
  />
  <div class='chat-item--info-wrapper'>
    <h3 class='name'>Андрей</h3>
    <p class='text'>Текс сообщения</p>
  </div>
  <div class='chat-item--data-wrapper'>
    <span class='time'>10:49</span>
    <span class='count'>19</span>
  </div>
</li> -->
