<li class='chat-item'>
  <img class='chat-item--image' src='{{image}}' />
  <div class='chat-item--info-wrapper'>
    <h3 class='name'>{{name}}</h3>
    <p class='text'>{{text}}</p>
  </div>
  <div class='chat-item--data-wrapper'>
    <span class='time'>{{date}}</span>
    <span class='count'>{{count}}</span>
  </div>
</li>